@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap");

.Landing-page {
   background-image: url(./assets/images/moneyFish2.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: "Open Sans", sans-serif;
}

.Landing-page-title {
   font-size: 2rem;
   font-weight: bold;
   color: #fff;
   margin-bottom: 1rem;
   text-align: center;
}

.login-signup-message {
   color: #fff;
   font-size: 1.2rem;
   margin-bottom: 1rem;
   text-align: center;
}

.Form-toggle-button {
   background-color: transparent;
   border: none;
   color: #3670b4;
   cursor: pointer;
}

.Form-toggle-button:hover {
   background-color: #ccc;
}

.main-container {
   font-family: "Open Sans", Arial, Helvetica, sans-serif;
   display: flex;
   flex-wrap: wrap;
}

/* Styles for the Select User component */
.select-user {
   font-family: "Open Sans";
   flex-basis: 40%;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   margin-right: 10px;
}

/* Styles for the user portfolio component */
.user-portfolio {
   flex-basis: 40%;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   margin-right: 10px;
}

/* Styles for the stock market component */
.stock-market {
   flex-basis: 40%;
   padding: 20px;
   border-radius: 10px;
}

/* Styles for the stock prices component */
.stock-prices {
   flex-basis: 100%;
   margin-top: 10px;
   border-radius: 10px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   padding: 20px;
}

/* Styles for the table inside the stock prices component */
.stock-prices table {
   width: 100%;
   border-collapse: collapse;
}

/* Styles for the table headers inside the trade history component */
.stock-prices th {
   text-align: left;
   padding: 10px;
   background-color: #f2f2f2;
}

/* Styles for the table cells inside the trade history component */
.stock-prices td {
   padding: 10px;
}

.stock-prices tbody th {
   font-size: 15px;
   font-weight: 400;
}

/* Styles for the trade history component */
.trade-history {
   flex-basis: 100%;
   margin-top: 10px;
   border-radius: 10px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   padding: 20px;
}

/* Styles for the table inside the trade history component */
.trade-history table {
   width: 100%;
   border-collapse: collapse;
}

/* Styles for the table headers inside the trade history component */
.trade-history th {
   text-align: left;
   padding: 10px;
   background-color: #f2f2f2;
}

/* Styles for the table cells inside the trade history component */
.trade-history td {
   padding: 10px;
}

.trade-history tbody th {
   font-size: 15px;
   font-weight: 400;
}

/* Styles for the table cells inside the userStockOrders component */

.userStockOrdersTable {
   flex-basis: 100%;
   margin-top: 10px;
   border-radius: 10px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   padding: 20px;
}

.userStockOrdersTable table {
   width: 100%;
   border-collapse: collapse;
}

.userStockOrdersTable th {
   text-align: left;
   padding: 10px;
   background-color: #f2f2f2;
}

.userStockOrdersTable td {
   padding: 10px;
   font-size: 15px;
   font-weight: 400;
   background-color: #f2f2f2;
}
